$footer-height: 32px;

$common-border-radius: 32px;

$color-orange: #ff9800;

$color-green: #4caf50;
$color-green-darker: #087f23;
$color-green-lighter: #b2fab4;

$color-red: #f44336;
$color-red-darker: #ba000d;
$color-red-lighter: #ffa4a2;

$color-text: #263238;
$color-text-darker: #34515e;
$color-text-lighter: #c1d5e0;

$logo-large-size: 64px;

$message-avatar-size: 32px;
$message-border-radius: 16px;
